* {
    padding: 0;
    margin: 0;
    box-shadow: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

header{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #80808080
}

main{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    box-shadow: 5px 5px 10px 5px #808080 ;
}

img{
    width: 200px;
}

#dados {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    flex-direction: column;
}

p {
    font-weight: 800;
}

span{
    font-weight: 300;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover{
    color: #00000053;
}

#buttons {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

button{
    padding: 10px;
    border-radius: 7px;
    background-color: #000000cd;
    border: none;
    color: white;
    cursor: pointer;
}

button:hover{
    background-color: #00000069;
}

footer{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8080808f;
}